.justin{
    display: flex;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 5%;
}
h{
    font-size: 200%
    width;80px
}
main{
    background-color:blue;
    color: aliceblue;
}
    
